<footer class="footer">
	<small>
	<a href="http://railstutorial.org/">爱小区 我们的家园 陈辉</a>
	
	</small>
	<nav>
		<ul>
			<li><%= link_to "关于我们",about_path %></li>
			<li><%= link_to "联系我们", contact_path %></li>
			<li><a href="http://ixiaoqu.heroku.com/">新闻</a></li>
		</ul>
	</nav>
</footer>